@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(375px,1fr));
    max-width: 1200px;
    margin: auto;
    margin-top: 5em;
    border-radius: 10px;
}

.card{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    padding: 3em;
}

.card--yellow{
    background-color: hsl(31, 77%, 52%);
}

.card--blue{
    background-color: hsl(184, 100%, 22%);
}

.card--green{
    background-color: hsl(179, 100%, 13%);
}

.card__image{
    margin-bottom: 2em;
}

.card__title{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin-bottom: 0.5em;
}

